extends layout.jade
    
block append head
    title Контакты
    link(href='css/contact.css', rel='stylesheet')
        
block content
    +page-heading('Как с нами связаться')

    div.text-center.contacts
        div
            div.row
                div
                    span.label.label-default Aionics
                div.email-pic
                    img(src='/images/aionics.png')
            hr
            div.row
                div
                    span.label.label-default ReFruity
                div.email-pic
                    img(src='images/realne.png')