extends layout.jade

block append head
    title Donate to support us
    link(href='css/tables.css', rel='stylesheet')
    link(href='css/donate.css', rel='stylesheet')

block content
    // TODO: Move to mysql table(s)
    -
        yes = '<img src="images/ok.png" />';
        no = '<img src="images/cross.png" />';
        list = [
            ['', 'Premium', 'VIP', 'Moderator', 'Administrator'],
            ['Набор "Премиум"<br><code>/kit premium</code>', yes, no, no, no],
            ['Набор "VIP"<br><code>/kit vip</code>', no, yes, yes, yes],
            ['Сохранение опыта после смерти', yes, yes, yes, yes],
            ['Возвращение на прошлую позицию после телепортации<br><code>/back</code>', yes, yes, yes, yes],
            ['Возвращение на прошлую позицию после смерти<br><code>/back</code>', no, yes, yes, yes],
            ['Режим полета<br><code>/fly</code>', no, no, yes, yes],
            ['Режим Бога<br><code>/god</code>', no, no, yes, yes],
            ['Смена погоды<br><code>/weather</code>', no, no, yes, yes],
            ['Выгнать игрока<br><code>/kick</code>', no, no, yes, yes],
            ['Временный бан<br><code>/tempban</code>', no, no, yes, yes],
            ['Перманентный бан<br><code>/ban</code>', no, no, no, yes],
            ['Разбан<br><code>/unban</code>', no, no, no, yes],
            ['Возможность установить опыт игроку<br><code>/xp set</code>', no, no, no, yes],
            ['Возможность заглядывать в инвентарь к игроку<br><code>/invsee</code>', no, no, no, yes],
            ['Возможность заглядывать в эндер-сундук к игроку<br><code>/enderchest</code>', no, no, no, yes],
            ['Очистка инвентаря у игрока<br><code>/clear</code>', no, no, no, yes],
            ['Поджечь игрока<br><code>/burn</code>', no, no, no, yes],
            ['Цена (месяц / навсегда):', '20р / 50р', '50р / 100р', '150р / 300р', '350р / 700р']
        ];

    div.row.text-center
        div.panel.panel-default
            div.panel-body
                h2 Поддержите сервер

    div.row.text-center
        table.table.table-striped.table-bordered
            - for (var i = 0; i < list.length; i++)
                tr
                    td.col-md-1!= list[i][0]
                    - for (var j = 1; j < list[i].length; j++)
                        td.col-md-1!= list[i][j] 

    div.row.text-center
        table.table.table-bordered.payment-table
            tr.active
                td.col-sm-4
                    | Реквизиты:
                    br
                    | QIWI: +79506441644
                    br
                    | Web.Money: R242385306732
                    br
                    | Yandex: 410013263977835
                td 
                    | Обязательно указывайте свой никнейм в примечании к платежу. 
                    a(href='/contact') Свяжитесь с нами
                    |  после оплаты и мы поместим вас в нужную вам группу.
                                                                                 
    