extends layout.jade

block append head
    meta(name='description', content='Survival Minecraft Server with Friendly Administration')
    title Welcome to aionics.ru!
    link(href='css/home.css', rel='stylesheet')

block content
    div.text-center.panel.panel-default
        div.panel-body.greetings
            h1 Добро пожаловать на наш сайт!
            p Скоро будет старт сервера. Следите за новостями!

    div.row
        div.col-md-4.text-center
            div.panel.panel-default.news
                div.panel-heading
                    span.glyphicon.glyphicon-bullhorn
                    strong  Новости
                div.panel-body.news-content
                    - for (var i = 0; i < news.length; i++)
                        div(class="news-entry-" + i)
                            h3!= news[i].heading
                            p!= news[i].content
                            span.label.label-default.news-date= news[i].date
                        hr
                
        div.col-md-4.text-center
            div
                iframe#gametracker(src="http://cache.www.gametracker.com/components/html0/?host=212.119.243.127:25565&bgColor=333333&fontColor=CCCCCC&titleBgColor=222222&titleColor=FF9900&borderColor=555555&linkColor=FFCC00&borderLinkColor=222222&showMap=0&currentPlayersHeight=180&showCurrPlayers=1&showTopPlayers=0&showBlogs=0&width=300")
            div.btn-block
                a.btn.btn-success(href='http://map.aionics.ru', target='_blank', role='button') Dynamic map of the server!

        div.col-md-4.text-center
            // VK Widget
            div#vk_groups.vk-widget
                script(type='text/javascript', src='//vk.com/js/api/openapi.js?116')
                script(type='text/javascript').
                    VK.Widgets.Group("vk_groups", {mode: 2, width: "298", height: "400"}, 9190731);
                    
    div.row.text-center
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js')
        script(type='text/javascript', src='http://want2vote.com/js/get_picture/vote_banner.js' charset='utf-8')
        #w2v_vote_banner(rel='174')

block append js
    script(type='text/javascript', src='js/home.js')
