extends layout.jade

block append head
    title Plugins
    link(href='css/tables.css', rel='stylesheet')
    link(href='css/plugins.css', rel='stylesheet')
    
block content
    div.row.text-center
        h2 Описание плагинов    
        
    div.row
        table.table
            thead
                tr
                    th.col-xs-1 Плагин
                    th.col-xs-4 Описание
                    th.col-xs-7 Команды
            tbody
                - for (var i = 0; i < plugins.length; i++)
                    tr
                        td
                            span.label.label-default.label-header!= plugins[i].name
                        td!= plugins[i].description
                        td
                            ul
                                - for (var j = 0; j < plugins[i].commands.length; j++)
                                    li
                                        - for (var k = 0; k < plugins[i].commands[j].text.length; k++)
                                            code!= plugins[i].commands[j].text[k]
                                            span  
                                        span  - 
                                        span!= plugins[i].commands[j].description