extends layout.jade

block append head
    title Rules of the server
    link(href='css/tables.css', rel='stylesheet')
    link(href='css/rules.css', rel='stylesheet')

block content
    -
        empty = '<span class="glyphicon glyphicon-minus"></span>';
    
        rulesList = [
            [   'Запрещено использование читов, модов, прозрачных текстурпаков и прочих программных средств, дающих игровое преимущество над другими игроками и не предусмотренными игрой.', 
                'Запрещена эксплуатация багов (ошибок или недоработок в сервере, сайте или игровом клиенте). Нашедшему баг стоит оповестить об этом Администрацию. Утаение или корыстное использование бага запрещено. Сотрудничество поощряется.', 
                'Гриферство* во всех его возможных проявлениях.'],
        
            [   'Для обеспечения безопасности вашего строения и сундуков в нем вы должны заприватить* свой дом и/или прилегающую к нему территорию.', 
                'Если Ваше незаприваченное сооружение приватит другой игрок, то постройка переходит в его владение со всем имуществом внутри.', 
                'Запрещено создание и владение регионами, в которых продолжительное время отсутствуют какие-либо постройки.', 
                'Запрещены постройки, угрожающие другим игрокам, установленные вне вашей заприваченой территории. Например: глубокие ямы, рвы наполненные лавой и прочие ловушки.', 
                'Запрещено строить постоянно включенные драм-машины, замкнутые на себя редстоун-цепи и совершать другие подобные действия, приводящие к чрезмерной нагрузке на сервер.', 
                'Запрещены анти-афк механизмы.', 
                'Запрещено блокировать выходы со зданий, порталов и варпов.'],
        
            [   'Запрещены нецензурные выражения (мат), оскорбления и провокации других игроков, Администрации.', 'Запрещена реклама других игровых проектов и серверов.', 'Запрещена чрезмерно частая отправка неинформативных сообщений, рекламы варпов и магазинов (флуд).', 'Запрещено выпрашивать у Администрации предметы, смену времени суток и погоды, телепортацию к другому игроку и прочее.', 'Запрещено представляться Администрацией, а также угрожать возможными родственными или дружескими связями.', 'Обращаясь к администрации четко и лаконично излагайте суть проблемы. Если в не в состоянии четко излагать свои мысли, мы оставляем за собой право Вас игнорировать.'], 
            [   'Игроки с привелегиями не имеют права раздавать ресурсы, полученые с помощью этих привилегий.', 'Игроки с привелегиями не имеют права выдавать себя за Создателя* и продавать игровую валюту/привилегии.', 'Игроки с привелегиями не имеют права убивать других игроков находясь в креативе/режиме бога/режиме полёта.', 'Игроки с привелегиями не имеют права давать доступ к своему аккаунту другим лицам.', 'Игроки с привелегиями не имеют права ломать/улучшать/изменять чужие постройки, без согласия владельца.', '(Для модеров и выше) Запрещается применение меры наказания без указания причины (кик/бан).', '(Для модеров и выше) Запрещается превышать меры наказания, указанные в данном списке.', '(Для модеров и выше) Запрещается игнорирование/бездействие, в случаях нарушения 1 или нескольких вышеуказаных правил.'], 
            [   'Все действия и изменения, производимые Администрацией делаются с одной целью - на благо сервера и его игроков.', 'Регистрация аккунта на сервере считается Вашим согласием с данным сводом правил.', 'Незнание правил не освобождает Вас от ответственности.', 'Правила могут дополняться. Администрация оставляет за собой право изменять правила, предупреждая об этом игроков минимум за день до изменения.', 'Попытки уйти от ответственности, ссылаясь на некорректную/недостаточно полную формулировку правил могут привести к более суровым мерам наказания.', 'Администрация вправе выдать справедливое наказание за случай, не урегулированный правилами.', 'Будьте благорассудны. Ни один свод правил не может полностью описать все возможные ситуации.']
        ];
        
        penaltyList = [
            ['Мера наказания', 'Бан навсегда', 'Любая мера наказания по усмотрению администрации', 'Любая мера наказания по усмотрению администрации'], 
            [empty, empty, 'Удаление региона', 'Снос строения, бан до 7 дней', 'Снос строения, бан до 7 дней', 'Снос строения, бан до 1 дня'], 
            ['Мут от 5 минут(в особо тяжелых случаях бан)', 'Бан навсегда', 'Мут на 1 день', 'Кик(в особо тяжелых случаях мут)', 'Бан до 7 дней', empty], 
            ['Бан от 5 дней', 'Бан от 1 до 4 недель', 'Бан на 3 дня', 'Снятие привелегий', 'Бан до 7 дней', '1 Предупреждение (3 предупреждения = Снятие привелегий)', '1 Предупреждение (3 предупреждения = Снятие привелегий)', '1 Предупреждение (3 предупреждения = Снятие привелегий)'], 
            [empty, empty, empty, empty, empty, empty, empty]
        ]; 
    
        headers = [
            'Игровой процесс',
            'Постройки',
            'Чат',
            'Правила для игроков с привелегиями',
            'Общие положения'
        ];
    
    div.row.text-center
        h2 Правила сервера
        
    div.row
        table.table
            - for (var i = 0; i < rulesList.length; i++)
                thead
                    tr
                        th.col-xs-1 #
                        th.col-xs-8= headers[i]
                        th.col-xs-3 Мера наказания
                tbody
                    - for (var j = 0; j < rulesList[i].length; j++)
                        tr
                            td= (i+1) + '.' + (j+1)
                            td= rulesList[i][j]
                            td!= penaltyList[i][j]